{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/css/rating.css'%}">
    <title>Document</title>
    <style>
        .checked {
        color: orange;
        }
        input,button{
            width: 90%;
            height: 40px;
            border-radius: 10px;
            
        }
    </style>
</head>
<body>
    <section class="navbar-part">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Navbar</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link ps-3 pe-3 active" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link ps-3 pe-3" href="/brand">Brands</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link ps-3 pe-3" href="/category">categories</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link ps-3 pe-3" href="/myorders">My orders</a>
                  </li>
                  
                </ul>
                <!-- <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item ">
                    <a class="nav-link ps-3 pe-3" href="/category">Cart <sup class="text-danger">12</sup></a>
                  </li>
                </ul> -->
              <a class="navbar-brand" href="/cart">Cart<sup id="cart_qty" class="text-danger">{{cart_qty}}</sup></a>
    
    
    
              </div>
            </div>
          </nav>
    </section>
    <section class="product-part">
        <h1 class="text-center">PRODUCT</h1>
        <div class="row">
            <div class="col-4 offset-4">
                <div class="card">
                    {% csrf_token %}
                    <img class="card-img-top p-5" src="{{data.p_img.url}}" alt="Card image cap">
                    <div class="card-body text-center">
                      <h2 class="card-title">{{data.p_name}} </h2>
                      <p class="card-text">{{data.p_des}}</p>
                      <P>{{data.p_price}}</P>
                      <a href="#"  class="btn btn-success">BUY NOW</a>
                      <a href="#" id="{{data.id}}" class="btn btn-primary btn-cart">ADD CART</a>

                    </div>
                  </div>
            </div>
        </div>

    </section>
    <section class="add-review-part">
        <h1 class="p-5 text-center">Add Ratings & Reviews</h1>
        <div class="container">
            <form action='savereview'  method="post">  
                {% csrf_token %}
            <div class="col-12">
                  <div class="wrapper">
                    <input type="radio" id="st1" name="st" value="5" />
                    <label for="st1"></label>
                    <input type="radio" id="st2" name="st" value="4" />
                    <label for="st2"></label>
                    <input type="radio" id="st3" name="st" value="3" />
                    <label for="st3"></label>
                    <input type="radio" id="st4" name="st" value="2" />
                    <label for="st4"></label>
                    <input type="radio" id="st5" name="st" value="1" />
                    <label for="st5"></label>
                  </div>
            </div>    

         
            <div class="row mt-3">
                <div class="col-6 offset-2">
                    <input type="text" class="border border-secondary p-2" placeholder="Add comment" name="text" >
                </div>
                <div class="col-3">
                    <input class="btn btn-success" type="submit"></button>
                </div>
            </div>
        </form>  
        </div>

    </section>
    <section class="review-part">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center pt-5 pb-3">Reviews</h1>
            
            </div>
            {%for review in reviews%}
            
            <div class="col-8 offset-2 mt-3 border border-success text-center ">
                <p class="h5">Ratings</p>
                <p> {{review.p_rating}} Stars</p>
                <p class="h5">Review</p>
                <p class="text-center">{{review.p_review}}</h5>
            </div>
            {%endfor%}
        </div>

    </section>



    
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% block javascript %}


<script>
    $(".btn-cart").click(function (e) {
        // preventing from page reload and default actions
        e.preventDefault();
        var p_id = $(this).attr('id');
        // serialize the data for sending the form data.
        var serializedData = $(this).serialize();
        csrf_token = $('input[name="csrfmiddlewaretoken"]').val();
        //  make POST ajax call
         $.ajax({
             type: 'POST',
             url: "/add-to-cart",
             data: {
              'p_id':p_id,
              csrfmiddlewaretoken: csrf_token
             },
             dataType:'json',
             success: function (response) {
                  let cart_qty=parseInt(document.getElementById('cart_qty').innerText)
                  document.getElementById('cart_qty').innerText=cart_qty+1

                    alert('added successfully')

              
              },
            error: function (response) {
                // alert the error if any error occured
                alert(response["responseJSON"]["error"]);
            }
        })
    })

</script>

{% endblock javascript %}

</html>